extends layout

block content
  .index-container 
    .header-div
      h1(class="title-header")= title 
      a(href="/new") New Message
    .messages-container
      each msg in messages
        .message
          h1= msg.text
          p= msg.user 
          p= msg.added.toLocaleDateString("en-US")